body {
  font-family: sans-serif;
  margin: 10px;
}

h1 {
  margin: 10px 0;
}

p {
  margin: 5px 0;
  padding: 5px 0;
}

a {
  padding: 5px 0;
}

a:hover {
  color: darkblue;
}

header,
main,
footer {
  margin: 10px;
  padding: 10px;
}

div {
  margin: 5px 0;
}

main p,
footer p {
  font-weight: bold;
}
